body {
  background-color: black;
  font-family: system-ui;

}

p {
  color: #ffd369;
  
}

link {
    color: #ffd369;
}
a {
    color: #ffc93c;
}
table {
    color: #ffd369;

}

ol {
    color: #ffd369;
}

ul {
    color: #ffd369;
}
label {
    color: #ffd369;
}
hr {
  border-color: #fce38a;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1 {
  color: #fce38a;
  font-family: system-ui;
  text-align: center;

}

h3 {
  color: #fce38a;
  font-family: system-ui;
  text-align: center;
}
h2{
  text-align: center;
  color: #fce38a;
  font-family: system-ui;
}
